.header {
  display: flex;
  padding: 92px 24px;
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  display: flex;
  align-items: center;
  padding-left: 27px;
  margin-right: 10px;
}

.header__links-list {
  display: flex;
}

.header__links-list-item {
  list-style: circle;
  line-height: 21px;
  margin-right: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_none-underline {
  text-decoration: none;
}

.header__logo {
  width: 136px;
  margin-right: 192px;
}

.heder__address-padding {
  padding-top: 6px;
  padding-left: 3px;
}

.address {
  width: 210px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.cover {
  color: #fff;
  background: url(../images/cover.jpg) no-repeat center / cover;
  min-height: 757px;
  position: relative;
}

.title_inner {
  position: relative;
  width: 100%;
  font-size: 67px;
}

.cover__title {
  padding: 165px 50px 128px;
  position: relative;
}

.aligned-text {
  padding-left: 2px;
  text-align: left;
  display: block;
}

.aligned-text_center {
  padding-top: 8px;
  text-align: center;
  display: block;
  letter-spacing: 30px;
}

.aligned-text_right {
  text-align: right;
  display: block;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  padding-inline: 50px;
  gap: 80px;
  align-items: center;
  justify-content: flex-end;
}

.cover__description-text {
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: white;
  word-spacing: 18.5px;
}

.bet-button {
  padding: 12px 32px;
  position: relative;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 22px;
  color: white;
  border: solid 1px white;
}

.lots {
  margin-top: 179px;
}

.title_lots {
  color: black;
  font-size: 40px;
  margin-bottom: 28px;
  margin-left: 64px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 25px;
  justify-content: center;
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px 47px;
  height: 563px;
  width: 334px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  border: #fff;
  color: #fff;
  text-align: left;
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  text-decoration: underline;
  z-index: 3;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  z-index: 1;
}

.lots__look-more-link {
  margin: 32px 0px 0 63px;
  text-underline-offset: 5px;
  font-size: 20px;
  line-height: 23px;
}

.about {
  margin: 146px 24px 0;
}

.about__column {
  display: flex;
}

.about__logo {
  display: flex;
  margin: 35px 0px 0px 47px;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
}

.about__inner {
  margin: 136px 0 0 72px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  width: 690px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text-no-margin {
  margin-bottom: 0;
}

.footer {
  display: flex;
  margin: 158px 50px 88px;
  justify-content: space-between;
}

.footer__address-padding {
  padding-left: 1px;
  letter-spacing: 1px;
}

.footer__menu {
  margin-left: 30px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-underline-offset: 4px;
}

.footer__menu-link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
